@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
:root{
    --color1:#00AEEB;
    --color11: #2095C0;
    --color111: #327B96;
    --color1111: #2B3133;
    --black: #000000;
    --white: #ffffff;
    --gray: #7f7f7f;
    --big: 1.8rem;
    --medium: 1.5rem;
    --small: 1rem;
    --clost-btn: 3rem;
}
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
}
section{
    scroll-margin-top: 100px;
}
input::placeholder{
    color: var(--gray);
}
textarea::placeholder{
    color: var(--gray);
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1111);
    padding: 0 50px;
    z-index: 999;
}
.branding a{
    color: var(--color1);
    font-size: var(--big);
    text-decoration: none;
}
nav>ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
}

nav>ul>li>a{
    padding: 10px;
    border-radius: 3px;
    box-shadow: inset -1px -1px 4px var(--color1111);
    background-color: var(--color1);
    color: var(--white);
    font-size: var(--small);
    text-decoration: none;
    transition: 0.2s ease;
}

nav>ul>li>a:hover{
    background-color: var(--color11);
}
nav>ul>li>a:active{
    box-shadow: inset 1px 1px 4px var(--color1111);
}
/* زر الهامبرغر */
.menu-icon {
    display: none; 
    font-size: var(--big);
    cursor: pointer;
    color: var(--color1);
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    position: relative;
}

.menu-content ul {
    list-style: none;
    padding: 0;
}

.menu-content ul li {
    margin: 20px 0;
}

.menu-content ul li a {
    text-decoration: none;
    font-size: var(--big);
    color: var(--color1111);
}
.close-btn {
    font-size: var(--clost-btn);
    color: var(--color1111);
    cursor: pointer;
    position: absolute;
    top: 20px;
}

/* hero content */
#hero{
    padding-top: 100px;
    width: 100%;
    display: flex;
    text-align: center;
    color: var(--color1111);
    flex-direction: column;
}
.text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: url(../images/OF18O70.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 50px;
}

.text-container>h1{
    font-size: var(--medium);
}
.text-container>p{
    font-size: var(--small);
}

.news-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    gap: 20px;
    background-color: var(--color1111);
    min-height: 100px;
}
.news-container>h2{
    color: var(--color1);
    font-size: var(--big);
}
.news-form{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.news-form input[type="email"]{
    width: 100;
    max-width: 100%;
    border-radius: 3px;
    font-size: var(--small);
    outline: none;
    box-shadow: inset 0px 0px 2px var(--color1);
    border: 2px solid transparent;
    padding: 10px 30px;
    font-weight: bold;
    color: var(--color1111);
    background-color: var(--white);
}
.news-form input[type="email"]:focus{
    border: 2px solid var(--color1);
}

.news-btn{
    padding: 12px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    box-shadow: inset -1px -1px 4px var(--color1111);
    background-color: var(--color1);
    color: var(--white);
    font-size: var(--small);
    font-weight: bold;
    text-decoration: none;
    flex-grow: 1;
    transition: 0.2s ease;
}

.news-btn:hover{
    background-color: var(--color11);
}
.news-btn:active{
    box-shadow: inset 1px 1px 4px var(--color1111);
}

/* projects or gallary of my business */
#projects{
    width: 100%;
    background-image: url(../images/OF18O70.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    gap: 50px;
    padding: 50px 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
}
.projects-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: center;
    color: var(--color1111);
}
.projects-title>h1{
    font-size: var(--big);
}

.projects-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.swiper {
    max-width: 600px;
    padding-bottom:50px ;
  }
.project-card{
    margin: 0 auto;
    border-radius: 10px;
    color: var(--color1111);
    box-shadow: 0px 0px transparent var(--color1111);
    width: 100%;
    max-width: 450px;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.project-img{
    border: 1px solid var(--color1111);
    width: 100%;
    max-width: 450px;
    height: 250px;
    background-image: url(../images/hero\ page.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.project-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-title>h1{
    color: var(--color1111);
    font-size: var(--small);
    font-weight: bold;
}
.project-title>p{
    color: var(--gray);
    font-size: var(--small);
}
.project-content,.project-title,p{
    margin: 0;
    padding: 0;
}
.project-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.project-content>p{
    font-size: var(--small);
}
.project-content>a{
    background-color: var(--color11);
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    font-size: var(--small);
    box-shadow: inset -1px -1px 2px var(--color1111);
    color: var(--white);
    text-decoration: none;
    transition: 0.2s ease;
}
.project-content>a:hover{
    background-color: var(--color111);
}
.project-content>a:active{
    box-shadow: inset 1px 1px 2px var(--color1111);
}
#contact{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 50px;
    gap: 100px;
    background-color: var(--color1111);
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}
.swiper-button-prev,
.swiper-button-next{
    color: var(--color1);
    transition: 0.1s ease-in-out;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
    color: var(--color11);
}
.swiper-button-prev:active,
.swiper-button-next:active{
    transform: scale(1);
    padding: 5px;
    border-radius: 50%;
    color: var(--color111);
}
.swiper-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.swiper-pagination-bullet {
    width: 16px;       
    height: 16px;
    background-color: var(--white); 
    opacity: 1
}
.swiper-pagination-bullet-active {
    background-color: var(--color11); 
    transform: scale(1.2);        
}
.form-title{
    display: flex;
    flex-direction: column;
    color: var(--white);
    gap: 10px;
}
.form-title>h1{
    color: var(--white);
    font-size: var(--big);
}

.form-container .form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: right;

}
.form .inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form small{
  color: var(--white);
}
.inputs label{
    color: var(--white);
    font-size: var(--small);
}
.form .inputs input[type="email"],input[type="text"],textarea{
    border-radius: 3px;
    font-size: var(--small);
    outline: none;
    box-shadow: inset 0px 0px 2px var(--color1);
    border: 2px solid transparent;
    padding: 10px;
    font-weight: bold;
    flex-grow: 1;
    color: var(--color1111);
    background-color: var(--white);
}
.form .inputs input[type="email"]:focus, input[type="text"]:focus,textarea:focus{
    border: 2px solid var(--color1);
}

.form input[type="submit"]{
    padding: 10px;
    flex-grow: 1;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: inset -1px -1px 2px var(--color1111);
    font-size: var(--small);
    background-color: var(--color11);
    font-weight: bold;
    color: var(--white);
    transition: 0.2s ease;
}

.form input[type="submit"]:hover{
    background-color: var(--color111);
    
}
.form input[type="submit"]:active{
    box-shadow: inset 1px 1px 2px var(--color1111);
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--white);
}

.contact-info>h1{
    font-size: var(--big);
}

.infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-info .infos>p{
    font-size: var(--small);
}

.contact-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.contact-icon>h1{
    color: var(--white);
    font-size: var(--big);
}
.icons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.fa-whatsapp{color: green;}
.fa-instagram{color: rgb(255, 0, 64);}
.fa-snapchat{color: yellow;}
.fa-tiktok{color: black;}
.fa-github{color: gray;}
.fa-linkedin{color: blue;}

.icons a{
    font-size: var(--big);
    color: var(--white);
    border-radius: 50%;
    padding: 5px;
    box-shadow: inset -1px -1px 2px var(--c);
    transition: 0.3s ease;
}
.icons a:hover{
    background-color: var(--color1);
}
.icons a:active{
    box-shadow: inset -3px -3px 4px var(--color111);
}
.footer{
    text-align: center;
    background-image: url(../images/OF18O70.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    width: 100%;
}
.footer>p{
    color: var(--color1111);
    font-size: var(--small);
}
.footer>p>span{
    color: var(--color111);
}


.menu-icon{
    color:var(--color1);
    font-size: var(--big);
}

/* ≤ 1370px */
@media (max-width: 1370px){
    #contact{
        flex-direction: column
    }
}
/* ≤ 800px */
@media (max-width: 800px){
    .news-container{
        flex-direction: column;
    }
    .news-form{
        flex-direction: column;
        width: 75%;
    }
    #nav-menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }
    .media a{
        color: var(--color1111)
    }
}

/* ≤ 640px */
@media (max-width: 640px){
    .swiper-button-prev,
    .swiper-button-next {
        display: none ;
    }
}
/* ≤ 570px */
@media (max-width: 570px){
    .project-card{
        max-width: 90%;
    }
    .project-img{
        width: 100%;
        height: 200px;
    }

}

/* ≤ 440px */
@media (max-width: 440px){
    :root{
    --big: 1.5rem;
    }
    .project-card{
        max-width: 85%;
    }
    .project-img{
        height: 180px;
    }
    #contact{
        padding: 20px 20px;
    }

}

/* ≤ 360px */
@media (max-width: 360px){
    :root{
    --big: 1.4rem;
    --medium: 1.2rem;
    --small: 1rem;
    }
    .project-card{
        max-width: 95%;
    }
    .project-img{
        height: 150px;
    }
    .form-container{
        width: 100%;
        max-width: 100%;
    }

}
