::before,
::after,
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    direction: rtl;
    background-color: rgb(66, 8, 8);
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    padding: 10px 0;
    text-align:center;
    width: 100%;
    background-color:rgb(16, 32, 46);
    color: rgb(55, 0, 255);
}