@font-face {
    font-family: "apercuArabicPro";
    src: url(../fonts/apercu-arabic-pro/ApercuArabicPro-Regular.eot);
    src: url(../fonts/apercu-arabic-pro/ApercuArabicPro-Regular.woff2) format("woff2"),
         url(../fonts/apercu-arabic-pro/ApercuArabicPro-Regular.woff) format("woff"),
         url(../fonts/apercu-arabic-pro/ApercuArabicPro-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}
@font-face {
    font-family: "apercuArabicPro";
    src:
        url("../fonts/apercu-arabic-pro/ApercuArabicPro-Bold.woff2") format("woff2"),
        url("../fonts/apercu-arabic-pro/ApercuArabicPro-Bold.woff") format("woff"),
        url("../fonts/apercu-arabic-pro/ApercuArabicPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

::before,
::after,
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "apercuArabicPro", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
.custom-navbar{
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    background-color: #fff;
    padding: 15px 0;
}
.navbar-header>a>img{
    height: 50px;
}
.custom-form-control, .dropdown a.custom-btn{
    border: 1px solid #dfdfdf;
    box-shadow: none;
    border-radius: 0;
    height: 38px;
    padding: 6px 16px 7px;
    transition: 0.3s ease;
}
.custom-form-control:focus{
    border-color: #003e8f;
    box-shadow: 0 0 1px 0 #004AAD;
}
.dropdown a.custom-btn:hover{
    background-color: #e4e4e4;
    border: 1px solid #d1d1d1;
    color: #004AAD;
}
.dropdown a.custom-btn:focus{
    color: #004AAD;
}
.categories{
    border-right: 0 !important;
    border-radius: 0;
}
.custom-dropdown-menu{
    border-radius: 0;
    box-shadow: 0 2px 5px 0 #dfdfdf;
    color: #777;
}
.search-btn{
    border-color: #004AAD;
    background-color: #004AAD;
    color: #fff;
    border-radius: 0;
    height: 38px;
    width: 65px;
    padding: 6px 16px 7px;
    font-weight: 700;
    transition: 0.3s ease;
}
.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.search-btn:active:focus,
.search-btn:active:hover{
    border-color: #003e8f;
    background-color: #003e8f;
    color: #fff;
}

.nav-link{
    color: #777;
    padding: 15px;
}
.custom-navbar .navbar-nav li.active a.nav-link{
    color: #003e8f;
    font-weight: 700;
    border-bottom: 1px solid #004AAD;
}
.custom-navbar .navbar-nav li.active:hover a.nav-link{
    background-color: #e4e4e4;
}

.custom-dropdown-menu li a:hover{
    background-color: #d8e9ff;
}
.custom-navbar .btn-icon{
    padding: 5px 10px;
    color: #777;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 2px;
    font-size: 14px;
    margin-right: 15px;
}